<!--/views/vue_ordonnance-->



<html lang="fr">

<head>
    <%- include("partial_header.ejs"); %>
        <title>Patient</title>
        <link rel="stylesheet" href="../static/css/inscription.css">
</head>

<body class="">
    <%- include("header.ejs"); %>
        <main class="m-5">
            <section class="text-center">
                <h1 class="CaviarDreamsBold f-blue2 pb-5 border-bottom">
                    Mon Ordonnance !
                </h1>
            </section>
            <section class="d-flex">
                <section id="ordonnance" class="border bg-grey p-4">
                    <div id="cabinet" class="CaviarDreamsBold f-blue2 text-center m-2">
                        <p class="text-uppercase"> CABINET DE OSTHéOPATHIE <br>
                            21,RUE d'estienne d'orves - 91220 Brétigny-sur-orge <br>
                            TEL. 06 60 95 30 20</p>
                    </div>
                    <div class="CaviarDreamsBold f-blue2">
                        <p>Docteur LOIC ARMSTRONG <br>
                            Specialité <br>
                            code bar</p>
                    </div>
                    <div class="CaviarDreamsBold f-blue2 d-flex justify-content-end">
                        <p>
                            <%= my_ordo.ville %>, le 10/06/2021
                        </p>
                    </div>
                    <div id="prescription">
                        <table>
                            <thead>
                                <tr>
                                    <th>Nom Médicament</th>
                                    <th>Fréquence</th>
                                    <th>Durée de la prise</th>
                                </tr>
                            </thead>
                            <tbody class="">
                                <tr>
                                    <td class="w-25">Doliprane 1g</td>
                                    <td class="w-25">2 fois par jour (matin et soir)</td>
                                    <td class="w-25">2 semaines</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="CaviarDreamsBold f-blue2 d-flex justify-content-end">
                        <p>Signature : <br> NOM DU Medecin</p>
                    </div>
                </section>
                <section>
                    Id Ordo <%= my_ordo.id_ordo %> <br>
                        Date Délivrance <%= my_ordo.date_delivrance %> <br>
                            Ville <%= my_ordo.ville %> <br>
                                Description <%= my_ordo.description %> <br>
                                    Id Proffesionnel de santé <%= my_ordo.id_professionneldesante %> <br>
                                        Id Proffesion <%= my_ordo.id_patient %> <br>
                </section>
            </section>
            <section class="w-100 text-center m-4">
                <img src="https://cdn-icons-png.flaticon.com/512/337/337946.png" alt="pdf_logo" id="pdf_img">
                <button type="button" class="border rounded m-4 f-blue2 text-uppercase btn-lg">Générer
                    PDF</button>
            </section>
        </main>
        <%- include("footer.ejs"); %>

</body>

</html>